body {
    background: url("./img/Fondo.jpg") no-repeat
    center center fixed;
    background-size: cover;

}
.bg-login-image {
    background: url("../img/ciervo.jpg");
    background-position: center;
    background-size: cover;
    border: 10px;
}
.sizeDiv{
    with:40vw;
}
